@media screen {
	/* headings generally */
	h1,h2,h3 {
		text-align: center ;
	}
	/* fancy main heading */
	h1,h2,h3 {
		font-weight: super bold ;
		font-family: sans-serif ;
		-webkit-text-stroke: 0.03em black ;
		text-shadow: 0.05em 0.08em 0.1em #3f1f1f ;
		margin: 0.1em ;
/* 		max-width: 100% ; */
	}
	h1 {
		font-size: 800% ;
		color: green ;
	}
	h2 {
		font-size: 500% ;
		color: lightblue ;
	}
	h3 {
		font-size: 300% ;
		color: orange ;
	}
}
	
@media screen and (width < 75rem) {
/* 	 Mobile device		*/
/*	.container {
		display: grid
	}*/
	.dropdownup p {
		display: none ;
	}
	.dropdownup h3::before {
		content: "v";
	}
	.sidebar {
		float:left ;
		margin-right: 3em;
	}
}

@media screen and (width >= 75rem) {
	.container {
		display: grid ;
		grid-template-columns: 1fr 1fr 1fr
	}
	h3 {	text-align: left ;
	}
	.sidebar {
/*		display: none ;*/
		grid-column: 1 ;
		grid-row: 1 / 3 ;
	}
	#div-contact {
		grid-column: 1 ;
		grid-row: 3 ;
	}
	#div-help {
		grid-column: 2 / 4 ;
		grid-row: 1 ;
	}
	#div-inspire {
		grid-column: 2 / 4 ;
		grid-row: 2 ;
	}
	#div-subjects {
		grid-column: 2 / 4 ;
		grid-row: 3 ;
	}
	#div- {
	}
	#div- {
	}
}
