body {   background: #e8f3ff; 
 background-image: url('../../xwd/style/back3.png'); font-size: 20px }

div { box-sizing: border-box; }

.host {
  position: absolute ;
  border-radius: 2% ;
  border-width: 3px ; border-style: solid ;
  overflow: hidden ;
}
.host.outer {
  background-color : green ;
}
.host.timer {
  background-color: #aa3333 ;
}
.host.console , .host.inner  {
  background : #88ccdd ;
  z-index: 1 ;
}
.host.console {
  border-radius: 6%/10% ;
}
.button, .tile {
  position: absolute ;
  background : #ffffcc ;
  border-width: 2px ; border-style: solid ;
  text-align: center ; font-size: 84px ;
  font-family: sans-serif ; font-weight: bold ;
}
.button {
  border-radius: 12%/24% ;
}
.button:hover {
  background : yellow;
}
.tile {
/*   width: 92px ; height: 92px ; */
  z-index: 1 ;
  transition: all 200ms ease-in-out ;
  transform: rotateX(0deg) rotateX(0deg) ;
  border-radius: 8% ;
  background-color: #ffeedd ;
}
.ghost {
  display: none ;
}
.outer.host.ghost.timer {
  display:block
}
.inRealWord{
  background-color: #88ff88 ;
}
.tile.moving {
  transition: none ;
  background-color: yellow ;
}
.blok {
  background-color: #442255 ;
}
 
 
 
/* 
 
 h3 {   text-align: center ; font-size: 36px }
.reveal { color: blue ; font-weight: bold }
h4 {  margin-bottom: 0px ; text-align: center ; font-size: 28px }
h5 {  margin: 0px ; font-size: 120% }
.fleft { float: left ; margin-right: 80px }
ul.blok { border: thin solid green ;
  // display: inline ; float: none ;
}
li a { font-weight: bold ; font-size: 24px }
p { margin: 20px 80px 20px 80px }*/
