body {   background: #e8f3ff; font-size: 20px ; }

div { box-sizing: border-box; }

.host, .timer, .dialog {
  position: absolute ;
  border-radius: 2% ;
  border-width: 3px ; border-style: solid ;
  overflow: hidden ;
}
.host.outer {
  background-color : green ;
}
.timer, .dialog {
  left: -3px ;
  top:  -3px ;
  background-color: #aa3333 ;
}
.dialog {
  background-color: #ffaa88 ;
  display: none ;
  z-index: 2 ;
  text-align: center ;
  vertical-align: middle ;
/*   font-size: 96px ;	/* should be adjusted by js */ */
  font-weight: bold ;
  font-family: sans-serif ;
  background-image: url('../../xwd/style/back3.png'); 
}
.dialog p {
    margin: 0px ;
}
.host.dashboard , .host.inner  {
  background : #88ccdd ;
  z-index: 1 ;
}
.host.dashboard {
  border-radius: 6%/10% ;
  font-size: 35% ;
}
.host.dashboard .display {
  font-size: 160% ;
}
.button, .tile {
  position: absolute ;
  background : #ffffcc ;
  border-width: 2px ; border-style: solid ;
  text-align: center ; font-size: 84px ;
  font-family: sans-serif ; font-weight: bold ;
}
.tile {
/*   width: 92px ; height: 92px ; */
  z-index: 2 ;
  transition: all 200ms ease-in-out ;
  transform: rotateX(0deg) rotateX(0deg) ;
  border-radius: 10% ;
  background-color: #ffeedd ;
}
.tile.proxy {
  transition: none ;
  display: none ;
}
.tile.moving {
  transition: none ;
  background-color: yellow ;
  z-index: 3 ;
}
.tile.proxy.moving {
  display: block ;
}
/*.inwordx {
  background: linear-gradient( to top  , #88ff88, #88ff88 10%, #ffeedd 20%, #ffeedd 80%, #88ff88 90% ) ;
}
.inwordy {
  background: linear-gradient( to left , #88ff88, #88ff88 10%, #ffeedd 20%, #ffeedd 80%, #88ff88 90% ) ;
}
.inwordx.inwordy {
  background-color: #88ff88 ;
}*/
.highlight {
/*  a green highlight going around a whole word    */
  position: absolute ;  
  border-color: green ;
  border-style:solid ;
  border-width: 15% ;
  border-radius: 10% ;
  z-index: 3 ;
  pointer-events: none ;
  opacity: 50% ;
}
.blok {
  background-color: #442255 ;
}
.button {
  border-radius: 12%/24% ;
}
.button:hover {
  background : yellow;
}
.button .hovertext {
  opacity: 0 ;
  padding: 0.25em 0.5em;
  background-color: #ffffff;
  text-align: center;
  border-radius: 0.25em;
  white-space: nowrap;
  font-size: 50%;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -20%;
  left: 10%; 
  transition-property: opacity;
  transition-delay: 0s;
  transition-duration: 0.3s;
}

.button:hover .hovertext {
  opacity: 0.8;
}

.timer {
  display: block ;
/*   transition-property: height ; */
/*  transition-duration: 60s ;	*/
}
 
