body {   background: #ffe8f3; 
 font-size: 20px }
h3 {   text-align: center ; font-size: 36px }
.reveal { color: blue ; font-weight: bold }
h4 {  margin-bottom: 0px ; text-align: center ; font-size: 28px }
.fleft { float: left ; margin-right: 80px }
ul.blok { border: thin solid green }
ul {   list-style-position: inside; }
li { text-align: center }
li a { font-weight: bold ; font-size: 24px }
p { margin: 20px 80px 20px 80px }