@import url(fonts/clear-sans.css);
html, body {
  margin: 0;
  padding: 0;
  background: #dfdfff;
/*  color: #776e65;*/
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 18px; }

.xwd-source {
  display: none; }

.clue-container {
/*   display: inline; */
  width: auto;
  position: relative;
  background: #ffffaa;
  font-size: 25px;
  line-height: 32px;
/*   font-weight: bold; */
  border: 3px red solid;
  border-radius: 3px;
  color: black;
  margin-top: 8px;
  text-align: center;}


p {
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 1.65; }

a {
  color: #776e65;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer; }

/*   Main game container */
.container {
  margin: 8px; }

.game-container {
/*   display: inline-block; */
  margin-top: 0px;  /*40px;*/
  position: relative;
  top: 2px;
  padding: 3px;
  cursor: default;
  -webkit-touch-callout: none;
  -ms-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  background: black; /*#aabc60;*/
  /*border-radius: 6px;*/
  width: 605px;
  height: 605px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/*.side-bar {
/*   display: inline-block; */
  vertical-align: top ;
}*/

.grid-container {
  position: absolute;
  top: 3px;
  z-index: 1; }

.tile-container {
  position: absolute;
  top: 3px;
  z-index: 2; }

.tile, .tile .tile-inner {
  width: 39px;
  height: 39px;
  line-height: 42px; }

.tile .tile-label {
  width: 38px;
  height: 12px;
  line-height: 14px; }


.tile {
  position: absolute;
/*  -webkit-transition: 1000ms ease-in-out;
  -moz-transition: 1000ms ease-in-out;
  transition: 1000ms ease-in-out;
  -webkit-transition-property: left, top;
  -moz-transition-property: left, top;
  transition-property: left, top; 
    border-radius: 3px;*/
    background: #f0f0e0;
  
}
  .tile .tile-inner {
    position: absolute ;
    top: 4px ; left : 0px ;
    width : 100% ; height: 30px ;
    text-align: center;
    font-weight: bold;
    z-index: 10;
    font-size: 30px; }
  .tile .tile-label {
    position: absolute ;
    top: 1px ; left : 1px ;
    width : 100% ; height: 12px ;
    background : none ;
    font-size: 10px ; font-weight: medium ;
    text-align : left ; vertical-align: top }

  .tile.tile-highlight {
    font-size: 32px;
    color: black;
    background: #ffff88; }
  .tile.tile-highlight1 {
    font-size: 32px;
    color: black;
    background: #ffffaa; }
  .tile.tile-cursor {
    width: 33px;
    height: 33px;
    border-radius: 0px;
    border: 3px red solid;
/*     background: white; */
  }
  .tile.tile-cursor .tile-inner {
    top: 1px ; /* moved up to counter being pushed down by border */
     }
  .tile.tile-block {
/*  gray for blocking squares of crosswords    */
    color: gray;
    background: gray; }
 
/*.tile-new .tile-inner {
  -webkit-animation: appear 200ms ease 100ms;
  -moz-animation: appear 200ms ease 100ms;
  animation: appear 200ms ease 100ms;
  -webkit-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  animation-fill-mode: backwards; }*/

.game-intro {
  float: left;
  line-height: 42px;
  margin-bottom: 0; }

.restart-button, .solution-button, .cheat-button, .check-button {
/*   display: inline-block; */
  position: relative;
  margin: 4px ;
  background: #8f7a66;
  border-radius: 3px;
  padding: 12px 24px;
  text-decoration: none;
  color: #f9f6f2;
  height: 40px;
  line-height: 42px;
/*   display: block; */
  text-align: center;
  /*float: left;*/ }

.game-explanation {
  margin-top: 50px; }

