@import url(fonts/clear-sans.css);

.xwdCell {
    text-align: center ;
    border: black solid 1px ;
    background: white
}

.xwdCell, .xwdCellLabel, .cellCursor {
    position: absolute ;
    }
    
.xwdCellLabel {
    font-size: 10px ;
    background : none }
   
.xwdClueBox { border: none ; margin: 0px 4px ; 
    padding: 4px 8px 4px 40px ; text-indent: -30px }

    /* various highlighting - backing yellows and bright red box */

.highlight  {  background: #ffff88; }
.highlight1 {  background: #ffffaa; }
.highframe  {  border: 2px red solid; padding: 2px 2px 2px 36px ;
    background: #ffffaa; font-weight: bold }
.cellCursor {  border: 3px red solid; background: none }
.answered   { color : #88aabb; }


.layout td { vertical-align: top;/* border: thin black solid*/ }

.xwdName, .xwdAuthor , .xwdCopyright {
    margin : 4px ;
}

.game-container {
  border: black solid 1px ;
  margin-top: 0px;
  position: relative;
  top: 2px;
  padding: 0px;
  background: #808080;
}

.xwdFooter {
  position: relative; /*border: thin black solid;*/ height: 102px;
}
.xwd {
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 18px/*;
  background: #e8eeff*/
}

.xwd-source {
  display: none; }


.xwdButton {
  position: absolute ;
  text-align: center ;
  background: #888888;
  border-radius: 8px;
  color: white;
  font-weight: bold ;
  height: 30px;
  line-height: 32px;
  border: solid black 4px  
}
.xwdButton:hover { background: #ee6666 }
.xwdButton        .hoverHint {
    border: blue solid ; width: 200px ; border-radius: 12px ;
    background: #eeeecc ; color: black ; padding: 0 10px ;
    position: absolute ; top: -30px ; left: 120px ;
    display: none  }
.xwdButton:hover  .hoverHint {
    display: block }

/*.clue-container {
  width: auto;
  position: relative;
  background: #ffffaa;
  font-size: 25px;
  line-height: 32px;
  border: 3px red solid;
  border-radius: 3px;
  color: black;
  margin-top: 8px;
  text-align: center;}*/
  
/*p {
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 1.65; }

a {
  color: #776e65;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer; }*/

/*   Main game container */
/*.container {
  margin: 8px; }

 
.game-intro {
  float: left;
  line-height: 42px;
  margin-bottom: 0; }

.restart-button, .solution-button, .cheat-button, .check-button {
  position: relative;
  margin: 4px ;
  background: #8f7a66;
  border-radius: 3px;
  padding: 12px 24px;
  text-decoration: none;
  color: #f9f6f2;
  height: 40px;
  line-height: 42px;
  text-align: center;
}*/

/*.game-explanation {
  margin-top: 50px; }
*/
